.container
  %ul
    - @comment.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @comment, url: post_comments_path(@comment.post), method: 'post', local: true) do |f|
    %div
      = f.label :content, 'コメントを入力'
    %div
      = f.text_area :content, rows: '5'
    = f.submit 'コメントを投稿する', class: 'btn-primary'