.container
  - @post.errors.full_messages.each do |message|
    .error
      = message

  = form_with(model: @post, url: post_path(@post), method: 'put', local: true) do |f|
    %div
      = f.label :text, 'テキストを編集'
    %div
      = f.text_area :text, class: 'content'

    = f.submit '更新する', class: 'btn-primary'