.container
  %ul
    - @post.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @post, url: posts_path, method: 'post', local: true) do |f|
    %div
      = f.file_field :picture
    %div
      = f.text_area :text, class: 'text', value: 'テキストを入力'

    = f.submit '投稿する', class: 'btn-primary'