.container
  .post
    .post_top
      = link_to account_path(@post.user) do
        = image_tag @post.user.avatar_image, class: 'user-image'
      %div
        .name= @post.user.accountname
        .time= time_ago_in_words(@post.created_at) + '前'
      .post_top_menu
        - if user_signed_in? && current_user.has_written?(@post)
          .dropdown
            = image_tag 'menu.svg', class: 'dropbtn'
            .dropdown-content
              = link_to '編集する', edit_post_path(@post)
              = link_to '削除する', post_path(@post), data: {method: 'delete', confirm: '本当に削除しますか？'}

    - if @post.picture.attached?  
      .post_images
        = image_tag @post.picture

    .post_reaction
      .post_reaction_like.show_like
        = render 'commons/like', locals: { post: @post, likes: @likes }

      .post_reaction_comment
        = link_to new_post_comment_path(@post) do
          = image_tag 'comment.svg'

    .post_text
      %p= @post.user.accountname
      = safe_join(@post.content.split("\n"),tag(:br))

    .post_comment
      - @comments.each do |comment|
        .detail
          .icon
            = link_to account_path(comment.user) do
              = image_tag comment.user.avatar_image, class: 'user-image'
          .comments
            .commenter= comment.user.accountname
            .text= safe_join(comment.content.split("\n"),tag(:br))